.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 750px) {
    display: block;
  }
  h2 {
    margin-bottom: -18px;
    text-align: center;
  }
  h3 {
    color: grey;
  }
  .tableSection {
    @media screen and (max-width: 750px) {
      width: 100vw;
      overflow: auto;
    }
    table {
      margin: 15px;
      width: 720px;
      border-collapse: collapse;
      border-radius: 5px;
      padding: 25px;
      box-shadow: 0px 0px 6px 0px #8ee35a;
      td {
        padding: 8px;
        text-align: left;
        font-size: 18px;
        &:first-of-type {
          font-weight: 600;
          padding-left: 25px;
          min-width: 136px;
        }
        .thumbnail {
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}
